body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 12px;
}

header {
  margin-bottom: 12px;
  text-align: center;
}

input[type="file"] {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
}
